body { 
    background-image: url(../IMG/background1.png) !important;
    background-size: cover;        /* Ajusta para cobrir a tela */
    background-position: center;   /* Centraliza */
    background-repeat: no-repeat;  /* Não repetir */
    height: 100vh;                 /* Ocupa a tela toda */
    opacity: 98%;
    background-color: black;

}





#text1 {
    position: absolute;       
    bottom: -60px;            
    font-size: 70px;
    font-weight: bolder;
    color: rgb(185, 7, 255);
    text-align: center;
    width: 100%;
    top:70%;
    -webkit-text-stroke: 1px rgb(255, 255, 255); /* Borda branca */
    animation: neonPulse 1.8s infinite ease-in-out;
}
@keyframes neonPulse {
    0%, 100% {
        text-shadow: 
           0 0 8px #b907ff,
           0 0 16px #b907ff,
           0 0 24px #b907ff;
        transform: scale(1);
    }
    50% {
        text-shadow: 
           0 0 12px #b907ff,
           0 0 24px #b907ff,
           0 0 40px #b907ff;
        transform: scale(1.05);
    }
}

#footer {
    color: white;
}

#game-description {
  max-width: 800px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #f5f5f5;
}

#game-description h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  margin-bottom: 10px;
  color: #b907ff; /* combina com a cor do seu COMING SOON */
  margin-top: 200px;
}

#game-description p {
  font-size: 16px;
  margin-bottom: 100px;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* agora são 2 */
  gap: 20px;
  max-width: 900px;
  margin: 20px auto;
  margin-top: 200px;
}

#gallery img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  transition: transform .3s ease;
}

#gallery img:hover {
  transform: scale(1.05);
}

/* Responsivo no mobile */
@media (max-width: 768px) {
  #gallery {
    grid-template-columns: 1fr; /* só uma por linha */
    margin-top: -10px;
    
  }
  #game-description  {
  font-size: 16px;
  margin-bottom: 100px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: -100px;
}
#text1 {
    position: absolute;       
    bottom: -60px;            
    font-size: 70px;
    font-weight: bolder;
    color: rgb(185, 7, 255);
    text-align: center;
    width: 100%;
    top:70%;
    -webkit-text-stroke: 1px rgb(255, 255, 255); /* Borda branca */
    animation: none;
}
}