#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.8s ease, visibility 0.8s ease;
  }
  
  #preloader.fade-out {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader-box {
    text-align: center;
    color: white;
    font-family: 'Press Start 2P', monospace;
  }
  
  .progress-bar {
    width: 200px;
    height: 10px;
    background: #333;
    margin: 10px auto;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-fill {
    height: 100%;
    background: #f97316;
    width: 0%;
    transition: width 0.3s ease;
  }

  .progress-fill1 {
    height: 100%;
    background: #8000ca;
    width: 0%;
    transition: width 0.3s ease;
  }

  

  .progress-text {
    font-size: 13px;
    margin-top: 5px;
  }
  